<template>
    <div>
            <h3 class=" text-2xl">404</h3>
            <p>page dont found</p>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style  scoped>

</style>