<template>
    <div class=" ">
         <div class=" p-3 m-3 rounded bg-slate-100 text-center">
            <h3 v-if="this.currentUser != null " class=" text-2xl">ESPACES DE TRAVAIL <span class=" font-bold">{{ this.$store.state.GetCurrentSpaceName }}</span> </h3>
                    <button @click="toggleNewBoard = !toggleNewBoard" class="m-2 p-2 bg-blue-300 rounded">New Board</button>
                    <div v-if="toggleNewBoard">
                        <div v-if="toggleNewBoard" class="  fixed overflow-x-hidden overflow-y-auto inset-0 flex jus items-center z-50  bg-slate-300 bg-opacity-40 ">
                                <div class="relative mx-auto w-auto max-w-2xl rounded">
                                    <div class=" p-4 bg-white w-full">
                                        <div class="relative p-2  ">
                                        <div @click="toggleNewBoard = !toggleNewBoard" class="absolute top-0 right-0 hover:scale-125 cursor-pointer hover:bg-red-500 rounded-full hover:text-white">
                                          <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-x h-6 w-6" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                        </div>
                                      </div>
                                            <form class=" p-2 m-2 bg-slate-200 rounded">
                                                <div class=" p-1 m-2">
                                                    <label class=" mx-2 ">Title :</label>
                                                    <input v-model="title" class=" rounded" type="text" name="" id=""> <br>
                                                </div>
                                                <div class=" p-1 m-2">
                                                    <label class=" mx-2 " for="">About</label>
                                                    <input v-model="About" class=" rounded" type="text" name="" id=""> <br>
                                                </div>
                                                 <div class=" p-1 m-2">
                                                    <label class=" mx-2 " for="">Pick an Image</label>
                                                    <input v-model="urlImage" class=" rounded" type="text" name="" id=""> <br>
                                                 </div>
                                                <button @click="handleCreateBoard" type="button" class=" p-2 m-2 bg-blue-400 rounded">Create</button>
                                            </form>
                                    </div> 
                                
                                </div>
                            </div>
                    </div>
                <h2 class=" mx-5 text-lg"> Tables : <span class="text-base text-gray-500">Vos Espace de tavail</span> </h2>
                <div  class=" m-4  w-[300px] bg-slate-300 rounded " v-for="board in this.Boards " :key=board._id >
                    <div class="">
                        <router-link :BoardId="BoardId" class=" m-1 p-1 text-center cursor-pointer max-w-sm mx-auto  rounded-md overflow-hidden shadow-lg" :to="`/Board/${board._id}`"> 
                            <div class="relative h-28">
                                <img class="absolute h-full w-full object-cover" :src="board.urlImage" alt="image cover">
                            </div>
                            <div class="px-6 py-2">
                                 <h1 class=" text-white  text-xl mb-2">{{ board.title }}</h1>
                            </div>
                        </router-link>
                    </div>
                    
                </div> 
         </div>
    </div>
</template>

<script>
// import List from '@/components/List.vue';
// import Card from '@/components/Card.vue';
import store from '@/store';
//import Board from '@/components/Board.vue';
    export default {
        props:{
            
        }
        ,components:{
            // List,
            // Card,
            //Board
        }
        ,data() {
            return {
                //for creating new board u must init id for Board
                toggleNewBoard: false,
                //CurrentEspace:{},
                title:'',
                About: '',
                urlImage: '',
                

            }
        },methods:{
            //redirect to board
            rediredtBoard(id){
                console.log(id)
                this.$router.push(`/Board/${id}`)
            },//Add New Board
            async handleCreateBoard(){
                await fetch("http://127.0.0.1:9090/private/board/create", {
                        method: 'POST',
                        credentials: 'include',
                        body: JSON.stringify({
                            title:this.title,
                            About:this.About,
                            EspaceDeTravailId:this.$route.params.id,
                            dateCreation: new Date(),
                            urlImage:this.urlImage
                        
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        // do something with the data
                        if(data.succeeded == true){ 
                            this.GetBoards();
                            this.$router.push("/Boards/"+this.$store.state.CurrentEspace._id);
                            swal("Board Added","successfully","success"); 
                        }else if(data.succeeded == false){
                            swal("Not Registred","false");
                            
                        }else{
                                swal("Not Registred","false");
                            }
                        console.log(data);
                        }).catch(error => {
                            //return error;
                            console.log("error : ",error)
                        });
                        this.GetBoards();
                        this.toggleNewBoard = false;
            }
            ,
            async GetBoards(){
                //for list Boards

                   await fetch("http://127.0.0.1:9090/private/board/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                                EspaceDeTravailId : this.$route.params.id
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                            //console.log("boards")
                        console.log(data.data)
                        console.log(this.filtredEspace)
                        //this.$store.state.Boards = data.data
                        store.commit('GET_CURENTUSER_BOARD',data.data);
                        //try to update data by mutations and commit
                        });
               
                
            }, //Get Espace where show info 
                async GetCurrentEspaceHandler(){
                   await fetch("http://127.0.0.1:9090/private/espacedetravail/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                                _id : this.$route.params.id
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                            //console.log("data returnd from espace by paramsId:",data.data[0].title);
                            //this.CurrentEspace == data.data;
                            store.commit("GET_CURRENTESPACE",data.data[0]);
                            store.commit('GET_CURRENTSPACETITLE',data.data[0].title);
                            //console.log("currentEspace :",this.$store.state.CurrentEspace);
                        });
                }
            
        },
        mounted(){
           
          //--------GEt Boards--------//
          this.GetBoards();
          //GEt CurrentEspace
          this.GetCurrentEspaceHandler();
         
        },
        computed:{
            Boards(){
                return this.$store.state.Boards;
            },currentUser(){
                return this.$store.state.currentUser;
            },
        //filterBoad just show the board ownerId == user_id
        // filtredBoards(){
        //     return this.Boards.filter((board) =>  board.ownerId == this.currentUser._id)
        // }
        
    }
        
    }
</script>

<style   scoped>

</style>