<template>
    <div class=" items-center">
      <div class=" m-28 md:grid md:grid-cols-3 md:gap-6 ">
  
        <div class="mt-5 md:col-span-2 md:mt-0 ">
          <form class="bg-slate-200">
            <div class="shadow sm:overflow-hidden sm:rounded-md">
              <div class="space-y-6 bg-slate-200 px-4 py-5 sm:p-6">
                <div class="grid grid-cols-3 gap-6">
                  <div class="col-span-3 sm:col-span-2">
                    <label for="company-website" class="block text-sm font-medium text-gray-700">Title</label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                        <input v-model="title" type="text" name="board-name"  class="block w-full p-2 flex-1 rounded rounded-r-md border-gray-300  focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Board Title ...." />
                    </div>
                  </div>
                </div>
  
                <div>
                  <label for="about" class="block text-sm font-medium text-gray-700">About</label>
                  <div class="mt-1">
                    <textarea v-model="About" id="about" name="about" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Board Description" />
                  </div>
                  <p class="mt-2 text-sm text-gray-500">Brief description for your Board.</p>
                </div>
<!--   
                <div>
                  <label class="block text-sm font-medium text-gray-700">Wallpaper</label>
                  <div class="mt-1 flex items-center">
                    <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                      <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                      </svg>
                    </span>
                    <button type="button" class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Change</button>
                  </div>
                </div> -->
  
                <!-- this erea for show wallpapers for theme -->
              </div>
              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button @click="handleCreateBoard" type="button" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="hidden sm:block" aria-hidden="true">
      <div class="py-5">
        <div class="border-t border-gray-200" />
      </div>
    </div>
  </template>

<script>
export default {
    data() {
        return {
            title:'',
            About:'',
            imageUrl:'',
        }
    },methods:{
       async handleCreateBoard(){
           await fetch("http://127.0.0.1:9090/private/board/create", {
                method: 'POST',
                credentials: 'include',
                body: JSON.stringify({
                    title:this.title,
                    About:this.About,
                    ownerId:this.$store.state.currentUser._id,
                  
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
                }).then(response => {
                return response.json();
                }).then(data => {
                // do something with the data
                if(data.succeeded == true){ 
                    swal("Registred","success");
                    this.$router.push('/Boards');
                }else if(data.succeeded == false){
                    swal("Not Registred","false");
                    
                }else{
                        swal("Not Registred","false");
                    }
                console.log(data);
                }).catch(error => {
                    //return error;
                    console.log("error : ",error)
                });
        }
    },
    mounted(){

    },
    
}
</script>

<style  >

</style>