<template>
    <div class="flex min-h-screen mt-4 mx-2 w-[sreen-200px] bg-slate-100 rounded ">

        <!-- left SideBar nav container -->
    <div class="  mx-16 py-4 ">
        <nav class="mx-10">
            <ul class="m-4 inline-block">
                <li  class="m-1 py-1 px-2 bg-blue-200 focus:text-blue-300 rounded-md  cursor-pointer">Tables</li>
                <li class="m-1 py-1 px-2 hover:bg-slate-200 focus:bg-blue-200 focus:text-blue-300 rounded-md  cursor-pointer">Modèles</li>
                <li class="m-1 py-1 px-2 hover:bg-slate-200 focus:bg-blue-200 focus:text-blue-300 rounded-md  cursor-pointer">Accueil</li>
            </ul>
            <hr class="w-[200px]"/>
        </nav>
             <br>
             
        <div>
            <nav class="mx-10">
                <div class=" flex items-center justify-around">
                    <h3 class=" text-gray-500 text-sm">Espaces de travail</h3>
                    <h3 @click="NewSpaceToggle = !NewSpaceToggle" class=" p-1  text-gray-500 hover:bg-slate-200 rounded-sm cursor-pointer">+</h3>
                </div>
                <div>
                    <h4 class=" font-semibold "> Espaces Des Travaux</h4>
                    <div v-for="space in EspaceDesTravaux" :key="space" class=" m-1">
                        <h1 class=" m-2 p-1 ring-1 ring-blue-400 rounded-sm cursor-pointer hover:scale-110 shadow-md">{{ space.title }}</h1>
                    </div>
                </div>
                
            </nav>
        </div>
    </div>
    <div class=" flex-1">
         <Teleport to="body">
        <NewSpaceModal :show="NewSpaceToggle" @close="NewSpaceToggle = false">
                              
            <template #header>
            <h3>Créons un espace de travail </h3>
            <p>Stimulez votre productivité en facilitant l'accès aux tableaux pour tous au même endroit.</p>
            </template>
            <template #body>
             <div class="flex SpaceToggle"> 
                <form class=" m-3 p-2 rounded" >
                        <div class=" mx-2">
                            <!-- <label class="">Nom de l'espace de travail</label> -->
                            <label  class="mx-2">Nom de l'espace de travail:</label> <br>
                            <input v-model="title" class=" p-2 my-1 mx-4 rounded-md " type="text" placeholder="">
                        </div>
                        <div class=" mx-2">
                            <label class="mx-2">Type d'espace de travail</label> <br>
                        
                            <select class=" p-2 my-1 mx-4 rounded-md" v-model="type">
                                <option value="">Choisir.....</option>
                                <option value="Vente et Gestion">Vente et Gestion</option>
                                <option value="Petit entreprise">Petit entreprise</option>
                                <option value="Operation">Operation</option>
                                <option value="Education">Education</option>
                                <option value="Ressources humaines">Ressources humaines</option>
                                <option value="Ingénierie/informatique">Ingénierie/informatique</option>
                                <option value="Autres">Autres</option>
                            </select>
                        </div>
                        <div class="mx-2">
                            <label class="mx-2">Description de l'espace de travail <span class="text-sm text-slate-500">Facultatif</span></label> <br>
                            <textarea class=" p-2 my-1 mx-4 rounded-md" v-model="Description" name="" id="" cols="30" rows="6"></textarea>
                        </div>
                        <button @click="handleAddEspace" type="button" class=" p-2 m-2 bg-blue-400 hover:bg-blue-300 hover:scale-110 rounded ">Ajouter</button>
                  </form>
                  <img src="@/assets/trelloSpace.svg" alt="">
             </div>
             
            </template>
                                                                         
        </NewSpaceModal>
        </Teleport>

            <h1 class=" text-xl m-4 font-semibold italic ">Vos Espace Des Travaux</h1>
            <div class=" m-4 text-center ring-1 ring-slate-300 rounded-sm  shadow-md" v-for="espace in EspaceDesTravaux" :key="espace._id">
            
              <div class=" flex items-center justify-between rounded ">
                <router-link class="flex items-center justify-start"  :to="`/Boards/${espace._id}`">          
                    <div class=" items-center m-2 p-2 h-auto w-auto bg-blue-200 rounded cursor-pointer hover:scale-110 hover:bg-blue-400 hover:text-white inline-block">
                        <div class=" text-center flex items-center ">
                            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-rocket-takeoff h-6 w-6" viewBox="0 0 16 16">
                            <path d="M9.752 6.193c.599.6 1.73.437 2.528-.362.798-.799.96-1.932.362-2.531-.599-.6-1.73-.438-2.528.361-.798.8-.96 1.933-.362 2.532Z"/>
                            <path d="M15.811 3.312c-.363 1.534-1.334 3.626-3.64 6.218l-.24 2.408a2.56 2.56 0 0 1-.732 1.526L8.817 15.85a.51.51 0 0 1-.867-.434l.27-1.899c.04-.28-.013-.593-.131-.956a9.42 9.42 0 0 0-.249-.657l-.082-.202c-.815-.197-1.578-.662-2.191-1.277-.614-.615-1.079-1.379-1.275-2.195l-.203-.083a9.556 9.556 0 0 0-.655-.248c-.363-.119-.675-.172-.955-.132l-1.896.27A.51.51 0 0 1 .15 7.17l2.382-2.386c.41-.41.947-.67 1.524-.734h.006l2.4-.238C9.005 1.55 11.087.582 12.623.208c.89-.217 1.59-.232 2.08-.188.244.023.435.06.57.093.067.017.12.033.16.045.184.06.279.13.351.295l.029.073a3.475 3.475 0 0 1 .157.721c.055.485.051 1.178-.159 2.065Zm-4.828 7.475.04-.04-.107 1.081a1.536 1.536 0 0 1-.44.913l-1.298 1.3.054-.38c.072-.506-.034-.993-.172-1.418a8.548 8.548 0 0 0-.164-.45c.738-.065 1.462-.38 2.087-1.006ZM5.205 5c-.625.626-.94 1.351-1.004 2.09a8.497 8.497 0 0 0-.45-.164c-.424-.138-.91-.244-1.416-.172l-.38.054 1.3-1.3c.245-.246.566-.401.91-.44l1.08-.107-.04.039Zm9.406-3.961c-.38-.034-.967-.027-1.746.163-1.558.38-3.917 1.496-6.937 4.521-.62.62-.799 1.34-.687 2.051.107.676.483 1.362 1.048 1.928.564.565 1.25.941 1.924 1.049.71.112 1.429-.067 2.048-.688 3.079-3.083 4.192-5.444 4.556-6.987.183-.771.18-1.345.138-1.713a2.835 2.835 0 0 0-.045-.283 3.078 3.078 0 0 0-.3-.041Z"/>
                            <path d="M7.009 12.139a7.632 7.632 0 0 1-1.804-1.352A7.568 7.568 0 0 1 3.794 8.86c-1.102.992-1.965 5.054-1.839 5.18.125.126 3.936-.896 5.054-1.902Z"/>
                        </svg>
                        <h4 class=" text-center ml-2">{{ espace.title }}</h4>
                        </div>
                        
                    </div>
                  </router-link>
                    <div class=" justify-end right-4">
                        <div class=" flex items-center mx-3">
                            <div class=" flex items-center mx-2 p-1 bg-slate-200 hover:bg-slate-300 rounded-md m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trello h-3 w-3" viewBox="0 0 16 16">
                                    <path d="M14.1 0H1.903C.852 0 .002.85 0 1.9v12.19A1.902 1.902 0 0 0 1.902 16h12.199A1.902 1.902 0 0 0 16 14.09V1.9A1.902 1.902 0 0 0 14.1 0ZM7 11.367a.636.636 0 0 1-.64.633H3.593a.633.633 0 0 1-.63-.633V3.583c0-.348.281-.631.63-.633h2.765c.35.002.632.284.633.633L7 11.367Zm6.052-3.5a.633.633 0 0 1-.64.633h-2.78A.636.636 0 0 1 9 7.867V3.583a.636.636 0 0 1 .633-.633h2.778c.35.002.631.285.631.633l.01 4.284Z"/>
                                </svg>
                                 <h2 class=" mx-2">Tableaux</h2>
                            </div>
                            <div class=" flex items-center p-1 bg-slate-200 hover:bg-slate-300 rounded-md m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye h-3 w-3" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                </svg>
                                <h2 class="mx-2 ">Vues</h2>

                            </div>
                            <div class=" flex items-center p-1 bg-slate-200 hover:bg-slate-300 rounded-md m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people w-3 h-3" viewBox="0 0 16 16">
                                     <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                                </svg>
                                <h2 class="mx-2 ">Members</h2>
                            </div>
                            <div class=" flex items-center p-1 bg-slate-200 hover:bg-slate-300 rounded-md m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide-connected w-3 h-3" viewBox="0 0 16 16">
                                     <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646.087.065-.087-.065z"/>
                                </svg>
                                 <h2 class="mx-2 ">Parametres</h2>
                            </div>
                        </div>
                     
                    </div>     
            </div>
            <div class=" text-center items-center flex m-2 p-3">
                <!-- <div  class=" m-4  w-[300px] bg-slate-300 rounded " v-for="board in Boards " :key=board._id >
                    <div v-if="board.EspaceDeTravailId == espace._id" class="">
                        <router-link :BoardId="BoardId" class=" m-1 p-1 text-center cursor-pointer max-w-sm mx-auto  rounded-md overflow-hidden shadow-lg" :to="`/Board/${board._id}`"> 
                            <div class="relative h-28">
                                <img class="absolute h-full w-full object-cover" :src="board.urlImage" alt="image cover">
                            </div>
                            <div class="px-6 py-2">
                                 <h1 class=" text-white  text-xl mb-2">{{ board.title }}</h1>
                            </div>
                        </router-link>
                    </div>
                    
                </div> -->
                <div  v-for="table in EspaceTable" :key="table" v-show="espace._id == table.EspaceDeTravailId" class=" mx-2 my-1 item text-center  inline-block shadow-md  hover:scale-110" >
                    <div class="max-w-sm mx-auto bg-white rounded-md overflow-hidden shadow-lg ">
                        <router-link :tableId="table._id"  :to="`/Board/${table._id}`"> 
                            <div class="relative h-20">
                                <img class="absolute h-full w-full object-cover" :src=table.urlImage alt="Card image">
                            </div>
                            <div class="px-6 py-2">
                                <div class="font-bold text-xl mb-2">
                                    <span class=" text-base">{{ table.title }}</span>
                                </div>
                            </div>
                        </router-link>
                        
                    </div>
            </div>
            
                <div @click="NewTableModalToggle = !NewTableModalToggle" class="  m-2 p-4 h-auto w-auto bg-slate-200 rounded cursor-pointer hover:scale-110 hover:bg-slate-400 hover:text-white inline-block">
                        <h3  class=" text-center">Add new Table +</h3>       
                </div>
            </div>
             
            <Teleport to="body">
                        <NewTableModal  :show="NewTableModalToggle" @close="NewTableModalToggle = false">
                              
                        <template #header>
                        <h3 class=" font-semibold text-lg text-cyan-500">Créons un Tableaux (Board)</h3>
                        <p>Stimulez votre productivité en facilitant l'accès aux tableaux pour tous au même endroit.</p>
                        </template>
                        <template #body>
                        <div class="flex SpaceToggle"> 
                            <form class=" m-3 p-2 rounded" >

                                <div class=" p-2 mx-2">
                                    <label class="mx-2 p-1">Nom du Tableaux:</label> <br>
                                    <input v-model="TableTitle" class=" p-2 m-1 rounded-md " type="text" placeholder=""> <br>
                                    <span class=" text-xs text-slate-600">👋🏻 le Tableaux doit avoir un titre </span>
                                </div>
                                <div class=" p-2 mx-2">
                                    <label class=" mx-2">Type d'espace de travail</label>
                                    <select  class=" p-1 m-2 rounded-md" v-model="EspacePicked">
                                        <option   v-for="space in EspaceDesTravaux"
                                         :key="space._id"
                                         :value="space._id">{{ space.title }}</option> 
                                    </select>
                                </div>
                                
                                <div class=" p-2 mx-2">
                                    <label class="m-1">Description du tableaux <span class="text-sm text-slate-500">Facultatif</span></label> <br>
                                    <input class="  p-2 m-1 rounded-md " v-model="TableDescription" type="text" placeholder="Decrit votre table en bref">
                                </div>
                                <div class=" p-2 mx-2">
                                    <label class="m-1">Pick Image Url <span class="text-sm text-slate-500">Facultatif</span></label> <br>
                                    <input class="  p-2 m-1 rounded-md " v-model="TableImageUrl" type="text" placeholder="Past an img url here ">
                                </div>
                                <div>
                                    <button @click="handleAddTable" type="button" class=" p-2 m-2 bg-blue-400 hover:bg-blue-300 hover:scale-110 rounded ">Créer</button><br>
                                    <button  type="button" class=" p-2 m-2 bg-blue-400 hover:bg-blue-300 hover:scale-110 rounded ">Commencer par un modèle</button>
                                </div>
                                </form>
                                <img class="m-1" src="https://a.trellocdn.com/prgb/assets/14cda5dc635d1f13bc48.svg" alt="">
                                </div>
                            
                            </template>
               </NewTableModal>                                                  
             </Teleport>
           
            
        </div>
        
    </div>          
                    
    </div>
</template>

<script>
//import { store } from 'vuex';
import NewSpaceModal from '@/components/NewSpaceModal.vue'
import NewTableModal from '@/components/NewTableModal.vue'
export default {
    components: { NewSpaceModal, NewTableModal },
    data () {
        return {
        NewSpaceToggle: false,
        NewTableModalToggle:false,
        //toggleNewEspace:null,
        title: '',
        TableTitle:'',
        ownerId: null,
        tableName:'',
        // members: ,
        Description: '',
        type: '',
        EspaceChoice: '',
        TableDescription: '',
        TableImageUrl: '',
        EspacePicked:null,
     }
    }, methods: {
        HandleRedirectBoard(boardKey) {
            this.GetSpaceTables();
            this.GetEspaceDeTravaux();
            this.GetSpaceTables();
            this.$router.push("/Board/"+boardKey);
        },
        //Get Espaces
        async GetEspaceDeTravaux(){

                   await fetch("http://127.0.0.1:9090/private/espacedetravail/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                                ownerId : this.currentUser._id
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        this.$store.commit('GET_CURENTUSER_ESPACEDESTRAVAUX',data.data);
                        
                        });
                
                
        },  GetSpaceTables() {
             fetch("http://127.0.0.1:9090/private/board/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query': {
                                
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        //this.$store.commit('GET_CURENTUSER_ESPACEDESTRAVAUX',data.data);
                            if (data.succeeded == true)
                            {
                                this.$store.commit('GET_EspaceTable', data.data);
                                this.$store.commit('GET_CURENTUSER_BOARD', data.data);
                                //console.log('Data from Space Tables',data.data)
                            } else
                            {
                                //this.$store.commit('GET_EspaceTable', null);
                            }
                        }).catch(error => {
                            //return error;
                            console.log("error : ",error)
                        });
        },
            async handleAddEspace(){
                await fetch("http://127.0.0.1:9090/private/espacedetravail/create", {
                        method: 'POST',
                        credentials: 'include',
                        body: JSON.stringify({
                            title: this.title,
                            ownerId: this.$store.state.currentUser._id,
                            type:this.type,
                            dateCreation: new Date(),
                            //members: this.$store.state.currentUser._id ,
                            Description:this.Description  
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        // do something with the data
                        if(data.succeeded == true){ 
                            swal("space Added","successfully","success");
                            this.GetEspaceDeTravaux();
                            this.$router.push("/Boards/"+this.$store.state.CurrentEspace._id);
                            
                        }else if(data.succeeded == false){
                            swal("Not Registred","false");
                           this.GetEspaceDeTravaux();
                        }else{
                                swal("Not Registred","false");
                            }
                        console.log(data);
                        }).catch(error => {
                            //return error;
                            console.log("error : ",error)
                        });
                       this.GetEspaceDeTravaux();
        },
       async  handleAddTable() {
                await fetch("http://127.0.0.1:9090/private/board/create", {
                        method: 'POST',
                        credentials: 'include',
                        body: JSON.stringify({
                            title:this.TableTitle,
                            About:this.TableDescription,
                            EspaceDeTravailId:this.EspacePicked,
                            dateCreation: new Date(),
                            urlImage:this.TableImageUrl
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        // do something with the data
                        if(data.succeeded == true){ 
                            swal("Board Added", "successfully", "success");
                            //this.GetBoards(); 
                        }else if(data.succeeded == false){
                            swal("Not Registred","false");
                            this.GetEspaceDeTravaux();
                            this.GetSpaceTables();
                        }else{
                                swal("Not Registred","false");
                            }
                        console.log(data);
                        }).catch(error => {
                            //return error;
                            console.log("error : ",error)
                        });
                        //this.GetBoards();
                        this.GetEspaceDeTravaux();
                        this.GetSpaceTables();
                        this.NewTableModalToggle = false;
            
            }
    },mounted(){
        this.GetEspaceDeTravaux();
        this.GetSpaceTables();
        
    },
    computed:{
        EspaceDesTravaux(){
            return this.$store.state.EspaceDesTravaux;
        }, Boards(){
                return this.$store.state.Boards;
        },currentUser(){
            return this.$store.state.currentUser;
        }, EspaceTable() {
            return this.$store.state.EspaceTable;
        }
    }
}
</script>

<style >
.SpaceToggle{
    background-image: url('@/assets/wave-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
</style>