<template>
  <div class="home">
     <!-- Trello Logo -->
     <div class=" items-center text-center ">
       <img class="m-28" width="550" src="@/assets/logos/trello-official.svg" alt="">
     </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
  components: {
  },
  mounted(){
    //Check user Session GETSESSION
    fetch("http://127.0.0.1:9090/getSessionUser",{
      method: 'POST',
          credentials: 'include',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ })
         }).then(response => {
          return response.json();
         }).then(data => {
           console.log(data);
           if(data.succeeded == true){
            this.$store.state.isConnected = true
            this.$router.push('/boards')
           }else if(data.succeeded == false){
            this.$router.push('/login')
            swal("Oups","You must be logged in ");
           }
          }).catch(error => {
            this.$router.push('/login')
            swal("error","You must be loggedin Error : "+error);
          });
  }
}
</script>
<style src="@/assets/Style.css" scoped>

</style>
