<template>
  <!--
    This example requires updating your template:

    ```
    <html class="h-full bg-gray-50">
    <body class="h-full">
    ```
  -->
  <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="@/assets/logos/trello-official.svg" alt="Your Company" />
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>

      </div>
      <form class="mt-8 space-y-6" action="#" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <label for="username" class="sr-only">UserName </label>
            <input v-model="username" id="username" name="username" type="text" autocomplete="username" required class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="User-Name...." />
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input v-model="password"  id="password" name="password" type="password" autocomplete="current-password" required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Password" />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" />
            <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
          </div>

          <div class="text-sm">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
          </div>
        </div>

        <div>
          <button @click="sendDataLogin" type="button" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <LockClosedIcon class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" aria-hidden="true" />
            </span>
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import store from '@/store';
import swal from 'sweetalert';
export default {
    data() {
      return {
        username:'',
        password:'',
      }
    },methods:{
       sendDataLogin(){
            if(this.username != '' && this.password != ''){

            //--------------FETCH--------------
           fetch("http://127.0.0.1:9090/login", {
                method: 'POST',
                credentials: 'include',
                body: JSON.stringify({
                    username: this.username,
                    password: this.password
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
                }).then(response => {
                return response.json();
                }).then(data => {
                 console.log(data);
                    if(data.succeeded == true){
                      store.commit('SET_CURRENT_USER',data.data); 
                      console.log("this is the current user : ",this.$store.state.currentUser);
                      swal("Connected!", `Welcome ${this.$store.state.currentUser.username} You are Connected!`, "success");
                      this.$router.push('/')
                    }
                    if(data.succeeded == false) {
                      swal("Oops!", "username or password wrong!", "error");
         
                      this.filedsError = true
                      
                    }
                }).catch(error => {
                  console.log("Error:", error)
                  swal("Error",""+error+"")
                  //this.$store.state.filedsError == true
                  this.filedsError == !this.filedsError
                });

            }else{
                swal("oops","Both username and password must not be empty");
                
            }
               
            },
    },mounted(){

    }
}
</script>

<style src="@/assets/Style.css" scoped>

</style>