<template>
  <div class="m-20 ">
    <div class="overflow-hidden bg-slate-300 shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Add New User</h3>
      <p class="mt-1 font-semibold max-w-2xl text-sm text-gray-500">please fill all fields </p>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Username</dt>
          <input v-model="username" type="text" class=" p-2 mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 rounded bg-slate-200 ">
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Email</dt>
          <input v-model="email" type="email" class=" p-2 mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 rounded bg-slate-200 ">
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Name</dt>
          <input v-model="name" type="text" class=" p-2 mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 rounded bg-slate-200 ">
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Last-Name</dt>
          <input v-model="lastName" type="text" class=" p-2 mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 rounded bg-slate-200 ">
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Role</dt>
          <select v-model="role" class=" p-2 bg-slate-200 rounded" name="select">
              <option value="Please choose an option" selected>--Please choose an role--</option>
              <option value="admin">admin</option>
              <option value="Developper">Devlopper</option>  
          </select>
        </div>
        <!-- password -->
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Password</dt>
          <input v-model="password" type="password" class=" p-2 mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 rounded bg-slate-200 ">
        </div>
        <!--Check password -->
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Check-Password</dt>
          <input v-model="Check_password" type="password" placeholder="Re-Enter password" class=" p-2 mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 rounded bg-slate-200 ">
        </div>
        <div class=" m-4">
          <button @click="Register" type="button" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <LockClosedIcon class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" aria-hidden="true" />
            </span>
            Register
          </button>
        </div>
      </dl>
    </div>
  </div>
  </div>
</template>

<script >
import swal from 'sweetalert';

    export default {
        data() {
          return {
              username:'',
              name:'',
              lastName:'',
              email:'',
              password: '',
              Check_password: '',
              role:''
          }
  },
  methods: {
          //Add new user /private/user/create
          Register() {
              //check fields is not empty 
                if ((this.username != "" &&
                        this.name != "" &&
                        this.lastName != "" &&
                        this.email != "" &&
                        this.password != "" && 
                        this.Check_password != "" &&
                        this.role != "") &&
                        (this.password  == this.Check_password )) {

                          fetch("http://127.0.0.1:9090/private/user/create", {
                method: 'POST',
                credentials: 'include',
                body: JSON.stringify({
                  
                        username:this.username,
                        name:this.name,
                        lastName:this.lastName,
                        email:this.email,
                        password: this.password,
                        role:this.role
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
                }).then(response => {
                return response.json();
                }).then(data => {
                // do something with the data
                if(data.succeeded == true){ 
                    swal("Success","User Added successfully ","success")
                }else if(data.succeeded == false){
                    //swal(" List Not Added","false");  
                    
                }else{
                        swal("Not Added","false");
                    }
                console.log(data);
                }).catch(error => {
                    //return error;
                    console.log("error : ",error)
                });
                } else (
                          swal("Ouups","Some Fields empty or password is not equal to Check-password  ","error")
                        )
            
          }
        },
    }
</script>

<style src="@/assets/Style.css"  scoped>

</style>