<template>
    <div>
        
        <div class=" m-10 p-2 bg-slate-50 rounded-sm text-center">
            <h3 class=" m-2 text-lg text-left">Profile</h3>
            <h3 class=" m-2">UserName :  <span>{{ this.$store.state.currentUser.username }}</span></h3>
            <h3 class=" m-2">email : <span>{{ this.$store.state.currentUser.email }}</span></h3>
            <h3 class=" m-2">Name :  <span>{{ this.$store.state.currentUser.name}}</span></h3>
            <h3 class=" m-2">User name :  <span>{{ this.$store.state.currentUser.username }}</span></h3>
            
            <button @click="HandleUpdateUser" class=" m-2 p-3 bg-yellow-300 text-white font-semibold rounded-md">Update Information</button>
            <button @click="HandleDeleteUser" class="m-2 p-3 bg-red-400 text-white font-semibold rounded-md">Delete account</button>
        </div>
    </div>
</template>

<script>
import swal from 'sweetalert'
export default {
    data() {
        return {
            
        }
    },methods: {
        HandleUpdateUser() {    
            swal('sure you want to update your information')
            
        }, HandleDeleteUser() {
            swal('sure you want to Delete your Account')
            
        }

    },
}
</script>

<style lang="scss" scoped>

</style>