<template>
    
    <div class=" ">
        
        <div class=" rounded overflow-x-scroll" v-for="(board ,index) in filtredBoard" :key="index">
            <div class=" m-2 p-4 ">
                
                <div  class="">
                            <div class=" absolute  flex items-center p-1 mx-2 my-1   justify-around bg-slate-100 rounded">
                                <h3 class="mx-4">BoardTitle : {{ board.title}}</h3>
                                <div @click="toggleModel = !toggleModel"  class=" p-1 my-1 mx-4 bg-yellow-300 rounded cursor-pointer hover:scale-110 flex justify-around items-center">
                                    <span class=" text-white">Edit Board :</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" /></svg>
                                </div>
                                <div @click="deleteBoard(board._id)" class=" p-1 my-1 mx-4 bg-red-300 rounded cursor-pointer hover:scale-110 flex justify-around items-center">
                                    <span class=" text-white"> Delete Board :</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" /></svg>
                               </div>
                            </div>
                            <div v-if="toggleModel" class="  fixed overflow-x-hidden overflow-y-auto inset-0 flex jus items-center z-50  bg-slate-300 bg-opacity-40 ">
                                <div class="relative mx-auto w-auto max-w-2xl rounded">
                                    <div class=" p-4 bg-white w-full">
                                        <div class="mx-20">
                                            <label class=" mx-3 text-lg">Title :</label>
                                            <input v-model="updateTitle" class=" p-2 m-1 w-48 bg-slate-300 rounded" type="text" placeholder="Update your Title">
                                        </div>
                                        <div class="mx-20">
                                            <label class=" mx-3 text-lg">About :</label>
                                            <input v-model="updateAbout" class=" p-2 m-1 w-48 bg-slate-300 rounded" type="text" placeholder="Update your About">
                                        </div>
                                        <button @click="updateBoard(board._id)"  class=" p-2 m-2 cursor-pointer bg-yellow-300 text-white rounded">Update</button>
                                        <button @click="toggleModel = !toggleModel" class=" p-2 m-2 cursor-pointer bg-red-400 text-white rounded">Close</button>
                                    </div> 
                                
                                </div>
                            </div>
                            
                            <!--  -->
                            
                    </div>
                    <br>
                    <!-- Lists -->
                    <div  class=" my-8 min-w-max ">
                        <List v-bind:list="list" />
                    </div>
            </div>
        </div>
       
    </div>
</template>

<script>
import List from '@/components/List.vue';
import Card from '@/components/Card.vue';
import swal from 'sweetalert';
//import Boards from '@/views/Boards.vue';
    export default {
        components:{
            List,
            Card,
            //Boards
        },
        props:{
            BoardId:{
                type:Number,
                required: true
            }
        
        },data() {
            return {
                toggleModel:false,            
                updateTitle:'',
                updateAbout: '',
            }
        },methods: {
            //GetBoards
            async GetBoards(){
                //for list Boards
                   await fetch("http://127.0.0.1:9090/private/board/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                                ownerId : this.currentUser._id 
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                            //console.log("boards")
                        console.log(data.data)
                        //this.$store.state.Boards = data.data
                        store.commit('GET_CURENTUSER_BOARD',data.data);
                        //try to update data by mutations and commit
                        });
                
                
            },
            //getLists
            async GetListList(){
                   //Get List from back http://127.0.0.1:9090/private/list/list
                   await fetch("http://127.0.0.1:9090/private/list/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                                boardId: this.$route.params.id
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        console.log(data.data)
                        //this.$store.state.Lists = data.data;
                            this.$store.commit('SET_CURENTUSER_LIST', data.data);
                        }); 
            },
            //update
            async updateBoard(key){
                await fetch("http://127.0.0.1:9090/private/board/update", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                                _id:key,
                                title:this.updateTitle,
                                About:this.updateAbout,

                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                            this.updateTitle == '',
                            this.updateAbout == '',
                            this.toggleModel = !this.toggleModel;
                            this.GetListList();
                            this.GetBoards();
                        });
            },//delete Board
            async deleteBoard(key) {

              await swal({
                    title: "Are you sure to Delete The Board?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })//willDelete
                    .then((HandleDelete) => {
                        if (HandleDelete) {
                            fetch("http://127.0.0.1:9090/private/board/remove", {
                                method: 'POST',
                                credentials: 'include',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    _id: key
                                })
                            }).then(response => {
                                return response.json();
                            }).then(data => {
                                this.GetBoards();
                                if (data.succeeded == true) {
                                    this.$router.go(-1);
                                    //this.$router.push("/Boards/"+ this.CurrentEspace._id);
                                    swal("Board Deleted", "successfully", "success")
                                } else {
                                    swal("Board not Deleted", "Error", "false")
                                }

                            });
                        }else {
                            swal("Your Current data is safe!");
                        }
                    }
                    );
                    this.GetBoards();
            },
        },
        mounted(){
            

        },created(){
            
    },
    computed: {
            Lists(){
                return this.$store.state.Lists;
            },
            Boards(){
                return this.$store.state.Boards;
            },
            CurrentEspace() {
                return this.$store.state.CurrentEspace;
            },
            filtredBoard(){
                return this.Boards.filter( (Board) => Board._id == this.$route.params.id)
            }

        }
        
    }
</script>

<style >

</style>