<template>
     <div class=" p-1" >
      <!--  -->
        <ul class="" v-for="(card, index) in Cards" :key="index" @mouseenter="HandleshowEdit(index)" @mouseleave="HandleHideEdit"  >
                        <li v-if="list._id == card.listId"  class="" draggable="true" @dragstart="startDrag($event, card)">

                            <div class=" p-2 m-2 bg-slate-200 rounded">
                              <!-- @dblclick="handleShowCardInfos(card)"  -->
                              <div @dblclick="handleShowCardInfos(card)"  class="flex justify-around items-center" >
                                <!-- Etiquetecolor -->
                                <div class=" p-1 ring-1 rounded-full">
                                   <!-- Done In_traitment Must_Be_Done  Tache_libre  null-->
                                        <h4 v-show="card.etiquetteColor ==  'Done'"   class="  p-1  bg-green-400"></h4>
                                        <h4 v-show="card.etiquetteColor ==  'Must_Be_Done'"  class="  p-1   bg-red-400"></h4>
                                        <h4 v-show="card.etiquetteColor ==  'In_traitment'"  class=" p-1  bg-yellow-400"></h4>
                                        <h4 v-show="card.etiquetteColor ==  'Tache_libre'"  class=" p-1  bg-blue-400"></h4>
                                </div>
                                <label  v-if="cardToggle"   class="p-1 m-1  "  >{{ card.title }} </label>
                                <div></div>
                                  <span v-if="hoveredIndex === index"   class=" justify-end "><svg @click="HandleUpdateToggle(card)"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                                    class="w-4 h-4 hover:scale-120   hover:bg-stone-300 hover:rounded cursor-pointer"><path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                    </svg>
                                  </span>
                              </div>
                              
                              <div   class="">
                                <Teleport to="body">
                                      <CardModel  :show="updateCardToggle" @close="updateCardToggle = false">
                                        <template #header>
                                            <h3>Edit Card</h3>
                                        </template>
                                        <template #body>
                                          <div  class="">
                                            <div  class="">
                                                <input ref="myCard"   class=" w-[320px] p-2 m-2 bg-slate-200 rounded-md"  @blur="editCard(card)" v-model="this.cardContenu" type="text">
                                                <div class="my-2 flex items-center ml-8">
                                                  <button @click="editCard(card)" class="mx-1 p-2 bg-green-400 rounded">Save</button>
                                                  <button @click="handleDeleteCard(card._id)" class="mx-1 p-2 bg-red-400 rounded">Delete</button>
                                                </div>
                                            </div>
                                          </div>
                                        </template>
                                      </CardModel >
                                    </Teleport>
                              </div>
                                
                                
                                
                            </div>
                        </li>
        </ul>
        <!-- CardInfo Model start -->
                              <Teleport to="body">
                                   
                                    <CardModel :show="showToggleInfos" @close="showToggleInfos = false">
                                      <template #header>
                                        <div class=" flex items-center justify-between">
                                          <div class="">
                                            <h3>Card Title : <span class=" text-xl mx-6 text-slate-500 font-semibold">{{ this.$store.state.CurrentCard.title  }}</span></h3>
                                            
                                            <div v-for="list in Lists" :key="list" class="">
                                                      <h4 v-if="list._id == CurrentCard.listId" class=" ml-4 text-sm text-slate-500"><span class=" text-slate-600 ">List title : </span>{{ list.title }}</h4>
                                                </div>
                                          </div>
                                          <div @click="showToggleInfos = !showToggleInfos" class="top-0 right-0 hover:scale-125 cursor-pointer hover:bg-red-500 rounded-full hover:text-white">
                                            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-x h-6 w-6" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                          </div>  
                                        </div>
                                        
                                      </template>
                                      <template #body>
                                        <div class="flex min-h-screen  ">
                                          
                                          <div class=" m-2 p-2 w-[700px]">
                                              <div class=" m-1 p-1">
                                               <h4 class=" "> Etiquete Colore : </h4>
                                                <!-- Done In_traitment Must_Be_Done  Tache_libre  null-->
                                                  <h4 v-show="CurrentCard.etiquetteColor == 'Done'"  class=" m-1 p-1 bg-green-400 rounded-sm">{{ CurrentCard.etiquetteColor }} </h4>
                                                  <h4 v-show="CurrentCard.etiquetteColor ==  'Must_Be_Done'" class=" m-1 p-1 bg-red-400 rounded-sm">{{ CurrentCard.etiquetteColor }} </h4>
                                                  <h4 v-show="CurrentCard.etiquetteColor ==  'In_traitment'" class=" m-1 p-1 bg-yellow-400 rounded-sm">{{ CurrentCard.etiquetteColor }} </h4>
                                                  <h4 v-show="CurrentCard.etiquetteColor ==  'Tache_libre'" class=" m-1 p-1 bg-blue-400 rounded-sm">{{ CurrentCard.etiquetteColor }} </h4>
                                              </div>
                                              <div>
                                                <div class=" flex items-center">
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill w-6 h-6 mx-2" viewBox="0 0 16 16">
                                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                                  </svg>
                                                  <h4 class=" my-2 ">Membres</h4>
                                                </div>
                                                
                                                <div class="ml-6 ring-1 ring-slate-500 rounded-md flex items-center">
                                                      
                                                       <div class=" flex items-center" v-for="card in Cards" :key="card">
                                                          <div class= " flex items-center rounded" v-for="user in Users " :key="user._id">
                                                              <div class="" v-for="member in CurrentCard.members" :key="member">
                                                                <div class="" v-if="card._id == this.$store.state.CurrentCard._id" >
                                                                      <h4 class=" my-1 mx-2 p-1 text-sm text-slate-600  bg-blue-400 rounded-md" v-if="user._id == member"> {{ user.username }}</h4>
                                                                </div>
                                                              </div> 
                                                          </div>
                                                       </div>
                                                      <svg @click="MembreToggle = !MembreToggle" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi m-2 bi-plus-circle h-6 w-6 cursor-pointer ring-1 rounded-full hover:bg-slate-300" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                      </svg>
                                               </div>
                                              </div>
                                              <!-- end members side -->
                                              <!-- start Description  -->
                                              <div>
                                                  <div class=" ">
                                                    <div class=" my-2 flex items-center">
                                                      <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-justify-left h-6 w-6" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/></svg>
                                                      <div class="">
                                                          <h4 class="  ml-6">Description</h4>
                                                      </div>
                                                    </div>
                                                    <hr class="my-3">
                                                    <div class=" flex items-center ml-6 p-1">
                                                      <textarea v-model="this.cardContent" class="ml-6 h-16 w-[420px] rounded bg-slate-200 " placeholder="Ajouter une description plus detaillee ....." ></textarea>
                                                      <button @click="AddDescriptionToCard" type="button" class=" p-2 ml-2 my-1 bg-blue-400 rounded-md hover:scale-110">Ajouter</button>
                                                    </div>
                                                  </div>
                                              </div>
                                              <!-- ....end description -->
                                              
                                              <!-- Start Commantaire -->
                                              <div class=" my-2 p-2">
                                                   <div class=" flex items-center">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left w-6 h-6 mr-5" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                      </svg>
                                                      <h4>commantaires</h4>
                                                   </div>
                                                   <hr class="my-3">
                                                   <div class=" flex items-center my-4 ml-6">
                                                    <div class=" ring-2 ring-blue-400 rounded-full">
                                                     <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person-circle h-8 w-8" viewBox="0 0 16 16">
                                                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                                      </svg>
                                                     </div>
                                                     <div>
                                                      <input v-model="CommantaireContent" class=" bg-slate-50 p-2 ml-6 border-2 w-[420px] rounded " type="text"  placeholder="Écrivez un commentaire....">
                                                        <button @click="AddCommenteToCard" type="button" class=" p-2 ml-2 my-1 bg-blue-400 rounded-md hover:scale-110"> commenter</button>
                                                     </div>
                                                 </div>
                                              </div>
                                              <!-- ... End Commantaire  -->
                                              <!-- start Activity -->
                                        <div>
                                          <div class=" flex items-center justify-between my-2">
                                              <div class=" flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-list-task h-6 w-6 mr-6" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                                                  <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                                                  <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                                               </svg>
                                                <h4 class=" ">Activité / Commente</h4>
                                              </div>
                                              
                                                <div class="">
                                                  <button class=" p-1 my-1 mx-2 bg-slate-200 rounded-md  cursor-pointer">
                                                    <span @click="this.CommenteToggle = true" v-show="CommenteToggle == false">Show Comment</span>
                                                    <span @click="this.CommenteToggle = false" v-show="CommenteToggle == true">Hide comment</span>
                                                  </button>

                                                  <button class=" p-1 my-1 mx-2 bg-slate-200 rounded-md  cursor-pointer">
                                                    <span @click="ShowActivity" v-show="ActivityToggle == false">Show Activity</span>
                                                    <span @click="HideActivity" v-show="ActivityToggle == true">Hide Activity</span>
                                                  </button>
                                                </div>
                                              
                                          </div>
                                          <hr>
                                          <div class="overflow-y-scroll">
                                            
                                            <div class=" p-1 m-1  h-[250px]">
                                              
                                              <div v-show="CommenteToggle" class="">
                                                <h4 class=" text-lg ">commantaires :</h4>
                                                <div v-for="comment in Commentes" :key="comment" class=" flex items-center my-3">
                                                   <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person-circle mr-3 h-8 w-8" viewBox="0 0 16 16">
                                                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                                    </svg>
                                                    <h4 class=" m-1 p-1 bg-slate-200 rounded-sm shadow-md font-semibold">{{ comment.content }}</h4> 
                                                    <div class="  flex items-center">
                                                        <h4 class=" m-1 text-sm text-slate-500 cursor-pointer hover:scale-110">update</h4>
                                                        <h4 class=" m-1 text-sm text-red-500 cursor-pointer hover:scale-110">delete</h4>
                                                    </div>
                                                </div>
                                                    
                                               </div>
                                         
                                            
                                          <div v-show="ActivityToggle">
                                            <h4>Activity :</h4>
                                              <div v-for="activity in this.$store.state.activity" :key="activity" class="text-left my-6">
                                            <!-- v-if="this.$store.state.CurrentCard._id == activity.ActCardId" -->
                                               <div  class="flex items-center ">
                                                  <div class=" ring-2 ring-blue-400 rounded-full">
                                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person-circle h-8 w-8" viewBox="0 0 16 16">
                                                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                                    </svg>
                                                  </div>
                                                  <!-- <label class=" ml-4 "><span class=" font-semibold">{{ activity.ActMemberId }}</span> a {{ activity.ActContent }}</label>  -->
                                                  <div class=" cursor-pointer  rounded" v-for="user in Users " :key="user._id">
                                                          <h4 class=" my-1 mx-2 p-1 rounded-sm bg-slate-200 shadow-sm"  v-if="user._id == activity.ActMemberId"><span>{{ user.username }}  {{ activity.ActContent }}</span></h4>

                                                  </div>
                                               </div>
                                                <div>
                                                  <label class=" ml-12 text-xs text-slate-500">{{ activity.ActDateCreated }}</label>
                                                </div>
                                             </div>
                                          </div>
                                          </div>
                                         
                                        </div>
                                              </div>
                                              <!--.... end Activity -->
                                              
                                          </div>
                                          <!-- L'autre side  -->
                                          <div class=" flex-1 border-1 border-slate-500">
                                               <div @click="MembreToggle= !MembreToggle" class="  flex items-center p-1 m-1  w-[140px] bg-slate-100 rounded cursor-pointer hover:bg-slate-200">
                                                              <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-people-fill mx-2 h-5 w-5" viewBox="0 0 16 16">
                                                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                                              </svg>
                                                              <h4 class="">Membres</h4>
                                                          </div>
                                               <div class=" p-1 m-1">
                                                <Teleport to="body">
                                                    <!-- use the modal component, pass in the prop -->
                                                    <CardModel :show="MembreToggle" @close="MembreToggle = false">
                                                      <template #header>
                                                        <h4>Members</h4>
                                                      </template>
                                                      <template #body >
                                                            <div class="">
                                                                  <div v-if="MembreToggle" class="flex items-center z-50 rounded">
                                                          <div class=" mx-auto w-auto max-w-2xl rounded">
                                                              <div class=" p-4 bg-white w-full">
                                                                <div @click="MembreToggle = !MembreToggle" class="absolute top-0 right-0 hover:scale-125 cursor-pointer hover:bg-red-500 rounded-full hover:text-white">
                                                                  <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-x h-6 w-6" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                                                </div>
                                                                  
                                                                  <div class="mx-10 text-center">
                                                                      <!-- <input  class=" p-2 m-1 ring-1 ring-zinc-400 rounded-sm" type="text" placeholder="Rechercher des mombres"> -->
                                                                  </div>
                                                                  <div class="mx-4 ">
                                                                      <h4 class=" text-base text-center font-semibold">Current Members</h4>
                                                                  </div>
                                                                  <div class="mx-4 ">
                                                                        <div @click="HandleAddMembre" class=" p-1 m-1 rounded-sm  bg-slate-200  hover:bg-slate-300">
                                                                                <div v-for="card in Cards" :key="card">
                                                                  <div class=" rounded" v-for="user in Users " :key="user._id">
                                                                      <div class=" flex items-center" v-for="member in CurrentCard.members" :key="member">
                                                                        <div class=" flex items-center justify-between" v-if="card._id == CurrentCard._id" >
                                                                              <h4 class=" mx-3 my-1 p-1 text-sm text-slate-600  bg-blue-400 rounded-md" v-if="user._id == member"> {{ user.username }}</h4>
                                                                              <svg v-if="user._id == member" @click="handleRemoveMember(member._id)" class=" mx-2 bg-red-500  text-white h-4 w-4 hover:scale-110 cursor-pointer"  fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                                                              </svg>
                                                                        </div>
                                                                      </div> 
                                                                  </div>
                                                                </div>             
                                                        </div>
                                                  </div>
                                                  <div @click="ShowEspaceMembers = !ShowEspaceMembers" class="mx-4 my-2  p-2 cursor-pointer bg-slate-200 rounded-sm hover:bg-slate-300">
                                                     <h4 class="">Afficher les autres membres de </h4>
                                                     <span class=" text-center">l'espace de travail</span>
                                                  </div>
                                                  <div v-if="ShowEspaceMembers" class="mx-4 text-left">
                                                    <h4 class=" text-base font-semibold">Membres de l'espace de travail</h4>
                                                        <div class="" v-for="member in Users " :key="member">
                                                            <div class=" p-2 m-1 bg-slate-100 rounded-sm cursor-pointer hover:bg-slate-200">
                                                                  <!-- <h4>{{ member }}</h4> -->
                                                                  <div @click="AddMembreToCard(member._id)" class=" flex items-center justify-between">
                                                                    <svg  class=" w-6 h-6 mx-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                                                    <h4>{{ member.username }}</h4>
                                                                  </div>
                                                                 
                                                            </div>
                                                        </div>
                                                  </div>
                                                  
                                              </div> 
                                          
                                          </div>
                                          </div>
                                                            </div>
                                                      </template>
                                                    </CardModel>
                                                  </Teleport>
                                                 
                                               </div>
                                               <!-- Etiquete start ... -->
                                               <div class=" p-1 m-1">
                                                 <div @click="etiquetteToggle = !etiquetteToggle" class=" flex items-center p-1  w-[140px] bg-slate-100 rounded cursor-pointer hover:bg-slate-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag w-6 h-6 mx-2" viewBox="0 0 16 16">
                                                      <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                                                      <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                                                    </svg>
                                                  <h4>Étiquettes</h4>
                                                </div>
                                          <div v-if="etiquetteToggle" class=" ">
                                              <div class="relative w-[300px] bg-slate-50  rounded">
                                                <div @click="etiquetteToggle = !etiquetteToggle" class="absolute top-0 right-0 hover:scale-125 cursor-pointer hover:bg-red-500 rounded-full hover:text-white">
                                                  <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-x h-6 w-6" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                                </div>
                                                <h4 class=" uppercase">Étiquettes</h4>
                                                <!-- Etiquete Color -->
                                                  <div class="">
                                                    <input class=" p-1 m-1 rounded-sm ring-1 ring-slate-600" type="text" placeholder="Parcourir les étiquettes... So Soon">
                                                  </div>
                                                  <div class=" p-1 my-3 ring-slate-400 rounded-sm items-center text-center">
                                                    <div class=" ">
                                                      <h4 class=" bg-slate-100 font-semibold m-1 p-1 rounded-sm shadow-md">Select Etiquete Color :</h4>
                                                        <br>
                                                       <div class=" p-1 m-1  bg-green-400 rounded-md shadow-md">
                                                         <label for="Green">Green = Done </label>
                                                         <input v-model="etiquetteColor" class=" p-1 m-1 " type="radio" value="Done" name="EtiqueteColor">
                                                       </div>
                                                        
                                                        <div class=" p-1 m-1  bg-yellow-400 rounded-md shadow-md">
                                                           <label for="yellow">yellow = in traitment </label>
                                                           <input v-model="etiquetteColor" class="" type="radio" value="In_traitment" name="EtiqueteColor">
                                                        </div>
                                                        
                                                          <div class=" p-1 m-1  bg-red-400 rounded-md shadow-md">
                                                              <label for="Red">Red = must do it </label>
                                                              <input v-model="etiquetteColor" class="" type="radio" value="Must_Be_Done" name="EtiqueteColor">
                                                          </div>
                                                        
                                                         <div class=" p-1 m-1  bg-blue-400 rounded-md shadow-md">
                                                              <label for="Blue">Blue = Tache Libre </label>
                                                               <input v-model="etiquetteColor" class="" type="radio" value="Tache_libre" name="EtiqueteColor">
                                                         </div>  
                                                         <div class=" p-1 m-1  bg-white rounded-md shadow-md">
                                                              <label for="Blue">Clear Etiquetecolor </label>
                                                               <input v-model="etiquetteColor" class="" type="radio" value="null" name="EtiqueteColor">
                                                         </div> 
                                                    </div>
                                                      <div class="">
                                                               <button @click="HandleEtiQuete" class=" w-auto p-2 m-2 bg-blue-400 rounded-md hover:bg-blue-200 hover:scale-110">Done</button>
                                                      </div>
                                                  </div>
                                                  <!-- Creez une nouvelle Etiquette -->
                                              </div>
                                          </div>
                                               </div> 
                                               <!-- Etiquete End .... -->
                                               <!-- Date Start -->
                                               <div class=" p-1 m-1">
                                                  <div @click="DateToggle = !DateToggle" class=" flex items-center p-1 m-1 w-[140px] bg-slate-100 rounded cursor-pointer hover:bg-slate-200">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date mx-2 w-6 h-6" viewBox="0 0 16 16">
                                                      <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                                    </svg>
                                                    <h4>Dates</h4>
                                                </div>
                                            <div v-if="DateToggle" class="  fixed right-14 flex jus items-center z-55 rounded bg-white">
                                          <div class="relative mx-auto w-[320px] h-auto max-w-2xl rounded">
                                              <div @click="DateToggle = !DateToggle" class="absolute top-0 right-0 hover:scale-125 cursor-pointer hover:bg-red-500 rounded-full hover:text-white">
                                                  <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-x h-6 w-6" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                                </div>
                                                <div class=" bg-slate-50 rounded-md">
                                                      <h4 class=" text-slate-400">Dates</h4>
                                                      <div class="relative max-w-sm">
                                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                                        </div>
                                                        <h4>Date de debut</h4>
                                                        <!-- <input v-model="dateDebut" datepicker type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date"> -->
                                                         <Datepicker v-model="this.$store.state.dateDebut" />
                                                        
                                                      </div>
                                                      <div class="relative max-w-sm">
                                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                                        </div>
                                                        <h4>Date de limite</h4>
                                                        <!-- <input v-modal="dateLimit" datepicker type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date"> -->
                                                          <Datepicker v-model="this.$store.state.dateLimit"/>
                                                        
                                                      </div>
                                                      <div class=" p-2 m-2 bg-slate-100 rounded-md">
                                                            <label for="">result:</label> <br>
                                                            <h4 class="">Date De Debut : {{ this.$store.state.dateDebut }}</h4> <br>
                                                            <h4 class="">Date de Limite:{{ this.$store.state.dateLimit }}</h4>
                                                      </div>
                                                      <div>
                                                        <button @click="HandleCardDate" class=" p-2 m-1 bg-blue-700 text-white rounded-md">Enregistrer</button>
                                                        <button @click="HandleClearDate" class=" p-2 m-1 bg-slate-300 rounded-md">Effacer</button>
                                                      </div>
                                                </div>
                                            </div>
                                          </div> 
                                               </div>
                                               <!-- Date End ..... -->
                                               <div class=" p-1 m-1">
                                                 <div @click="uploadToggle = true" class=" flex items-center p-1 m-1 w-[140px] bg-slate-100 rounded cursor-pointer hover:bg-slate-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip w-6 h-6 mx-2" viewBox="0 0 16 16">
                                                      <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                                                    </svg>
                                                  <h4>Piece-jointe</h4>
                                                </div>
                                                <Teleport to="body">
                                                      <!-- use the modal component, pass in the prop -->
                                                <UploadModal :show="uploadToggle" @close="uploadToggle = false">
                                                  <template #header>
                                                    <h3>Upload file </h3>
                                                  </template>
                                                  <template #body>
                                                    <simpleUplaod :my-function1="handleShowCardInfos" :my-function2="CurrentCardMethode"  :my-function3="GetActivity"></simpleUplaod>
                                                  </template>
                                                </UploadModal>
                                              </Teleport>
                                               </div>
                                               <!-- End Upload  -->
                                               <!-- show Date Start .... -->
                                               <div class=" m-2 p-2">
                                                  <div class="">
                                                    <h4>Date debut</h4>
                                                    <h4 :v-model="CurrentCard.dateDebut" class=" text-sm text-slate-500 font-semibold">{{ this.CurrentCard.dateDebut }}</h4>
                                                  </div>
                                                  <div class="">
                                                    <h4>Date Limit</h4>
                                                    <h4 :v-model="CurrentCard.dateLimit"  class=" text-sm text-slate-500 font-semibold">{{ this.CurrentCard.dateLimit }}</h4>
                                                  </div>
                                               </div>
                                                <!-- show Date End .... -->
                                          </div>
                                        </div>
                                      </template>
                                    </CardModel>
                               </Teleport>
                              <!-- CardInfo Model end -->
                 <div  class="p-1 mb-4 ">
                    <!-- Button that add new Card in list -->
                         <Button v-if="!addNewCardInit" class=" p-2 mb-2 rounded hover:bg-blue-200" @click="handleNewCard(list.id)">+ Add new Card</Button>
                         <div class=" p-2 m-2" v-else>
                            <!-- <input class="form-control "  type="text" v-model="cardContenu" placeholder="Saisie le contenu de Card" > -->
                            <textarea class=" p-3" v-model="cardContenu" placeholder="Saisie le contenu de Card" ></textarea>
                            <div class=" flex items-center">
                              <Button class=" p-3 m-2 bg-blue-300 rounded" @click="addNewCard(list._id)">Ajouter</Button>
                              <svg @click="CloseNewCard" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg mx-2 pe-auto ml-6" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/></svg>
                            </div>
                         </div>
                 </div>
        </div>
</template>

<script>
//import { Suspense } from 'vue';
import swal from 'sweetalert';
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import UploadModal from './UploadModal.vue';
import simpleUplaod from './simpleUplaod.vue';
import CardModel from '@/components/CardModel.vue';
import { reactive, watchEffect,computed } from 'vue';
    export default {
      components: { Datepicker, UploadModal,simpleUplaod,CardModel },
      props:{
        list:{
          type:Object,
          required:true,
        },
        // card: {
        //   type:Object,
        //   required:true,
        //}
       },
  setup() {
        //example of re-rendering data after change from fetching
        const state = reactive({
          Cards: null,
          Users:null
        });

        watchEffect(() => {
          fetch('http://127.0.0.1:9090/private/card/list')
            .then(response => response.json())
            .then(data => {
              state.Cards = data;
            });
            //fetch("http://127.0.0.1:9090/private/user/list"
            // fetch('http://127.0.0.1:9090/private/user/list')
            // .then(response => response.json())
            // .then(data => {
            //   state.Users = data.doc;
            //   console.log("Users from watcheffect",Users);
            //   //this.$store.commit('LIST_USERS',data.docs);
            // });
        });

        return {
          Cards: state.Cards,
         //Users: state.Users
        };
      },
      data() {
        return {
          cardToggle:true,
          updateCardToggle:false,
          dateDebut:null,
          dateLimit:null,
          toggleRemoveMember:false,
          uploadToggle:false,
          DateToggle:false,
          showEdit:false ,
          addNewCardInit:false,
          showToggleInfos:false ,
          beforEditCard: '',
          cardContent :'',
          etiquetteToggle:false,
          MembreToggle:false,
          MembreChecked:false,
          ShowEspaceMembers:false,
          CurrentCardMembers: [],
          CommantaireContent: '',
          ActivityToggle: false,
          CommenteToggle: false,
          etiquetteColor:'',
          hoveredIndex: null,
        }
      }

  , methods: {
    //HandleshowEdit(card._id)
    HandleshowEdit(index){
        this.hoveredIndex = index
    },

    //HandleHideEdit
    HandleHideEdit() {
       this.hoveredIndex = null
    },
    //ShowActivity
    ShowActivity() {
      this.CurrentCardMethode();
      this.handleShowCardInfos(this.CurrentCard);
      this.ActivityToggle = true;
      
    },
    HideActivity() {
      this.CurrentCardMethode();
      this.handleShowCardInfos(this.CurrentCard);
      this.ActivityToggle = false;
    },
    //HideActivity
    //Etiquette Color 
    HandleEtiQuete() {

      fetch("http://127.0.0.1:9090/private/card/update", { 
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    _id:this.$store.state.CurrentCard._id,
                    title:this.$store.state.CurrentCard.title ,
                    listId:this.$store.state.CurrentCard.listId,
                    dateCreated:this.$store.state.CurrentCard.dateCreated,
                    content:this.$store.state.CurrentCard.content,
                    members:this.$store.state.CurrentCard.members,
                    etiquetteColor:this.etiquetteColor,
                    dateDebut:this.$store.state.CurrentCard.dateDebut,
                    dateLimit: this.$store.state.CurrentCard.dateLimit,

                    ActContent: ` Changed Etiquete color To ${this.etiquetteColor}`,
                     ActDateCreated : new Date(),
                     ActMemberId : this.$store.state.currentUser._id
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                    if (data.succeeded == true) { 
                  swal('Loading.......', {
                      title: 'Please wait ',
                      buttons: false,
                      timer: 700,
                  });
                    this.CurrentCardMethode();
                          this.handleShowCardInfos(this.CurrentCard);
                      swal('Etiquette Changed', 'success', 'success');
                      this.etiquetteToggle = false;
                    }
                });
                this.GetCArdList();
                this.GetActivity();
                this.handleShowCardInfos(this.CurrentCard)
    },
    //Add Cumment to the card 
    AddCommenteToCard() {
      fetch("http://127.0.0.1:9090/private/commentaire/create", {
                method: 'POST',
                credentials: 'include',
                body: JSON.stringify({
                  title:"",
									ownerId:this.$store.state.currentUser._id,
									cardId:this.$store.state.CurrentCard._id,
									dateCreated: new Date(),
									content:this.CommantaireContent
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
                }).then(response => {
                return response.json();
                }).then(data => {
                  if (data.succeeded == true) { 
                  swal('Loading.......', {
                      title: 'Please wait ',
                      buttons: false,
                      timer: 500,
                  });
                    this.CurrentCardMethode();
                          this.handleShowCardInfos(this.CurrentCard);
                  swal('Commantaire Added', 'success', 'success');
                } else {
                  swal('Commantaire Added', 'Failed', 'false');
                    }
                console.log(data);
                }).catch(error => {
                    //return error;
                    console.log("error : ",error)
                });
                this.GetCArdList();
                this.GetActivity();
      this.handleShowCardInfos(this.CurrentCard);
    },
    //Add Description to Card  Update
    AddDescriptionToCard() {

      fetch("http://127.0.0.1:9090/private/card/update", { 
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    _id:this.$store.state.CurrentCard._id,
                    title:this.$store.state.CurrentCard.title,
                    listId:this.$store.state.CurrentCard.listId,
                    dateCreated:this.$store.state.CurrentCard.dateCreated,
                    content:this.cardContent,
                    members:this.$store.state.CurrentCard.members,
                    etiquetteColor:this.$store.state.CurrentCard.etiquetteColor,
                    dateDebut:this.$store.state.CurrentCard.dateDebut,
                    dateLimit:this.$store.state.CurrentCard.dateLimit,

                    ActContent: ` Add a Description to the Card`,
                     ActDateCreated : new Date(),
                     ActMemberId : this.$store.state.currentUser._id
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  if (data.succeeded = true) {
                    //this.showToggleInfos = false;
                    swal('Loading.......', {
                      title: 'Please wait ',
                      buttons: false,
                      timer: 1000,
                    });
                    this.CurrentCardMethode();
                  }
                });
                //this.GetCArdList();
                this.GetActivity();
        this.handleShowCardInfos(this.CurrentCard);
    },
    //HandleUpdateToggle(card)
    HandleUpdateToggle(card) {
          //this.cardToggle = !this.cardToggle;
          this.updateCardToggle = !this.updateCardToggle;
          this.cardContenu = card.title;
      
        },
        //clearDate
        HandleClearDate(){
            this.$store.state.dateDebut = null,
            this.$store.state.dateLimit = null
        },
        HandleCardDate(){
          //add or update $set date debut and date Limit
          fetch("http://127.0.0.1:9090/private/card/update", {
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    _id:this.$store.state.CurrentCard._id,
                    dateDebut: this.$store.state.dateDebut,
                    dateLimit: this.$store.state.dateLimit,
                    listId: this.$store.state.CurrentCard.listId,
                    title: this.$store.state.CurrentCard.title,
                    dateCreated: this.$store.state.CurrentCard.dateCreated,
                    content: this.$store.state.CurrentCard.content,
                    members:this.$store.state.CurrentCard.members,
                    etiquetteColor:this.$store.state.CurrentCard.etiquetteColor,
                    dateDebut: this.$store.state.dateDebut,
                    dateLimit: this.$store.state.dateLimit,

                     ActContent: `Modifing  DateDebut to ${this.$store.state.dateDebut} , DateLimit to ${this.$store.state.dateLimit} `,
                     ActDateCreated : new Date(),
                     ActMemberId : this.$store.state.currentUser._id
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  if(data.succeeded == true){
                    //this.showToggleInfos = false;
                      this.GetCArdList();
                      this.GetActivity();
                    swal('Loading.......', {
                      title: 'Please wait date managing',
                      buttons: false,
                      timer: 1000,
                    }).then((HandleDateUpdate) => {
                      this.GetUsers();
                      this.CurrentCardMethode();
                       this.GetCArdList();
                      this.GetActivity();
                      this.MembreToggle = false;
                      this.handleShowCardInfos(this.CurrentCard);
                    }); 
                      

                  //this.showToggleInfos = !this.showToggleInfos
                  this.HandleClearDate();
                    this.DateToggle = !this.DateToggle;
                  }
                  
                });
          // this.CurrentCardMethode();
          //         this.GetListList();
          //         this.GetCArdList();
                 
          
        },
        handleRemoveMember(member){ // remove member from Card

          this.CurrentCardMembers.splice(0);
          // this.CurrentCardMembers == this.$store.state.CurrentCard.members;

           this.CurrentCardMembers.push.apply(this.CurrentCardMembers,this.$store.state.CurrentCard.members)
           console.log("currentCardMembers",this.CurrentCardMembers)
          //this.$store.commit('SET_CurrentCardMembers',[this.$store.state.CurrentCard.members]);

          //log again to show change
           console.log("curentCard.members after :",this.$store.state.CurrentCardMembers);

             console.log("member", member)
           //filtre user by her id
              var userTitle = '';
          this.Users.forEach(user => {
            console.log("user", user)
            console.log("member", member)
                    if (user._id === member) {
                        console.log('user.title', user.username);
                        userTitle = user.username;
                        console.log('userTitle', userTitle);
                    }
                    //return userTitle
                });
                //console.log('userTitle', userTitle);

          swal({
            title: "Are you sure to remove?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })//willDelete
            .then((HandleUpdateUser) => {
              //filtre user by her id
              

              //remove the member from Array
              const index = this.CurrentCardMembers.indexOf(member);
              const member_id = this.CurrentCardMembers.splice(index, 1);

             ;

            if (HandleUpdateUser) {
              fetch("http://127.0.0.1:9090/private/card/update", { 
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    _id:this.$store.state.CurrentCard._id,
                    members:this.CurrentCardMembers,
                    listId: this.$store.state.CurrentCard.listId,
                    title:this.$store.state.CurrentCard.title,
                    dateCreated:this.$store.state.CurrentCard.dateCreated,
                    content:this.$store.state.CurrentCard.content,
                    etiquetteColor:this.$store.state.CurrentCard.etiquetteColor,
                    dateDebut:this.$store.state.CurrentCard.dateDebut,
                    dateLimit:this.$store.state.CurrentCard.dateLimit ,

                    ActContent: `Remove ${userTitle} from Members `,
                     ActDateCreated : new Date(),
                     ActMemberId : this.$store.state.currentUser._id
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  if (data.succeeded == true) {
                    //this.showToggleInfos = false;
                     swal('Loading.......', {
                      title: 'Please wait procces be done',
                      buttons: false,
                      timer: 1000,
                     }).then((HandleDateUpdate) => {
                       this.GetUsers();
                      this.CurrentCardMethode();
                       this.GetCArdList();
                      this.GetActivity();
                      this.MembreToggle = false;
                      this.handleShowCardInfos(this.CurrentCard);
                      //this.showToggleInfos = true;
                      swal("Poof! Member has been Removed!", {
                      icon: "success",
                      });
                    });
                    
                    this.CurrentCardMembers.splice(0);
                  }
                  //console.log("removed members",user._id);
                  });
                
                
            } else {
                //swal("Your Current data is safe!");
            }
            });
        //     this.CurrentCardMethode();
        //     this.GetUsers();
        //   this.GetListList();
        //   this.GetCArdList();
        //  this.handleShowCardInfos(this.CurrentCard);
          //this.GetCArdList;
        },
        AddMembreToCard(member){
          this.CurrentCardMembers.splice(0);
          //this.CurrentCardMembers == this.$store.state.CurrentCard.members;
          this.CurrentCardMembers.push.apply(this.CurrentCardMembers,this.$store.state.CurrentCard.members)
          //log again
          console.log("currentCardMembers",this.CurrentCardMembers)
          //console.log("curentCard.members after :",this.$store.state.CurrentCard.members);
          
          
          //this.$store.commit('ADD_MEMBER_TO_CARD', member);

          //after add to array log the result 
          console.log("CurrentCardMembers before Add", this.$store.state.CurrentCardMembers)

          //this.$store.state.CurrentCard.members.push([member]);
          //this.CurrentCardMembers.push(member);
          //console.log("curentCardMembers before :", this.CurrentCardMembers);
          //console.log("curentCard.members before :",this.$store.state.CurrentCard.members);

          //filtre user by her id
              var userTitle = '';
                this.Users.forEach(user => {
                    if (user._id === member) {
                        console.log('user.title', user.username);
                        userTitle = user.username;
                    }
                    //return userTitle
                });
                console.log('userTitle', userTitle);
              //add to array
            this.CurrentCardMembers.push(member);
             
          swal({
            title: "Are you sure to add this member?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })//willAddMember
            .then((HandleUpdateUser) => {
            if (HandleUpdateUser) {

              

          fetch("http://127.0.0.1:9090/private/card/update", {
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({

                    _id:this.$store.state.CurrentCard._id,
                    members:this.CurrentCardMembers,
                    listId: this.$store.state.CurrentCard.listId,
                    title:this.$store.state.CurrentCard.title,
                    dateCreated:this.$store.state.CurrentCard.dateCreated,
                    content:this.$store.state.CurrentCard.content,
                    etiquetteColor:this.$store.state.CurrentCard.etiquetteColor,
                    dateDebut:this.$store.state.CurrentCard.dateDebut,
                    dateLimit:this.$store.state.CurrentCard.dateLimit,

                    ActContent: `Add ${userTitle} to members `,
                     ActDateCreated : new Date(),
                     ActMemberId : this.$store.state.currentUser._id
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  console.log("Added members log",data);
                  if (data.succeeded == true) {
                    //this.showToggleInfos = false;
                    swal('Loading.......', {
                      title: 'Please wait process be done',
                      buttons: false,
                      timer: 1000,
                    }).then((HandleDateUpdate) => {
                      this.GetUsers();
                      this.CurrentCardMethode();
                       this.GetCArdList();
                      this.GetActivity();
                      this.MembreToggle = false;
                      this.handleShowCardInfos(this.CurrentCard);
                      //this.showToggleInfos = true;
                    //this.handleShowCardInfos(this.$store.state.CurrentCard);
                    swal("Great! Member has been Added!", {
                      icon: "success",
                      });
                    });
                    //this.showToggleInfos = !this.showToggleInfos;
                    this.GetCArdList();
                    this.CurrentCardMembers.splice(0);
                    
                  }else{
                    swal("Ouups","some error","error");
                  }
                  });
                } else {
                swal("Your Current data is safe!");
                
            }
            });
          //   this.CurrentCardMethode();
          //   this.GetUsers();
          //   this.GetListList();
          // this.GetCArdList();
          
          //this.handleShowCardInfos(this.$store.state.CurrentCard);
        },
       handleShowCardInfos(card) {
            // set the current card 
             this.$store.commit('GET_CURRENTCARD', card);
            //console.log('show the currnt card', this.$store.state.CurrentCard);
            //showtoggle
             this.showToggleInfos = false;
             this.showToggleInfos = true;
            //console.log("currentCArdInfos" ,this.$store.state.CurrentCard._id)
              //GetthecurrentCard ID
           
            //SET LIST
            this.$store.commit('SET_CURENT_LIST', card.listId);
              this.GetCommentes();
              this.GetActivity();
             // this.GetCArdList();
        },
        handleNewCard(){
            this.addNewCardInit = true
        },
        CloseNewCard(){
            this.addNewCardInit = false
        },
    editCard(card) {
          //update the title of card 
          fetch("http://127.0.0.1:9090/private/card/update", { 
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    _id:card._id,
                    title:this.cardContenu ,
                    listId:card.listId,
                    dateCreated:card.dateCreated,
                    content:card.content,
                    members:card.members,
                    etiquetteColor:card.etiquetteColor,
                    dateDebut:card.dateDebut,
                    dateLimit: card.dateLimit,

                    ActContent: ` Changed the title from : ${card.title} to : ${this.cardContenu}`,
                     ActDateCreated : new Date(),
                     ActMemberId : this.$store.state.currentUser._id
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  if (data.succeeded == true) {
                      this.GetUsers();
                      this.GetCArdList();
                      this.cardToggle = true;
                      this.updateCardToggle = false
                  } else {
                    swal('something is wrong','false')
                  }
                  });
            },cancelEdit(card){
                //card.contenu = this.beforEditCard
            },
            addNewCard:function(data){
                fetch("http://127.0.0.1:9090/private/card/create", {
                method: 'POST',
                credentials: 'include',
                body: JSON.stringify({
                        title : this.cardContenu ,
                        listId : data ,
                        dateCreated: new Date(),
                        members:[]
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
                }).then(response => {
                return response.json();
                }).then(data => {
                // do something with the data
                if(data.succeeded == true){ 
                    this.cardContenu = '';
                  this.addNewCardInit = false;
                  this.updateCardToggle = false;
                    this.GetCArdList();
                }else if(data.succeeded == false){
                    //swal(" List Not Added","false");  
                    this.updateCardToggle = false
                }else{
                        swal("Not Added","false");
                    }
                console.log(data);
                }).catch(error => {
                    //return error;
                    console.log("error : ",error)
                });
                this.GetCArdList();
            },
            async handleDeleteCard(key){
                //this.Cards.splice(index , 1);
                //handleDelete CArd
               await fetch("http://127.0.0.1:9090/private/card/remove", {
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    _id:key
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  if(data.succeeded == true)
                  {
                    this.updateCardToggle = false;
                    swal("Success","Card Deleted successfully ","success")
                    this.GetCArdList();
                  }else{
                    swal("Ouups","Card not Deleted  ","error")
                  }
                  });

            },
            startDrag:function(event ,card){
                //console.log(card);
                event.dataTransfer.dropEffect = 'move'
                event.dataTransfer.effectAllowed = 'move'
                event.dataTransfer.setData('cardId', card._id)
            },
            GetActivity(){
              //Get Activity for Current Card and show the owner and event
              fetch("http://127.0.0.1:9090/private/activity/list", {
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    'query':{
                      ActCardId: this.$store.state.CurrentCard._id
                    },'options':{'page':0,'limit':-1}
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  //console.log("data from activity",data.data);
                  if(data.succeeded == true){
                    this.$store.commit('GET_CURRENT_CARD_ACTIVITY',data.data);
                  }
                  });
            },
           GetCArdList:  function (){
               //Get Card from back http://127.0.0.1:9090/private/card/list
               fetch("http://127.0.0.1:9090/private/card/list", {
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    'query':{},'options':{'page':0,'limit':-1}
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  console.log(data.data)
                  this.$store.state.Cards = data.data;
                });
                  
            },
             async GetListList() {
                   //Get List from back http://127.0.0.1:9090/private/list/list
                   await fetch("http://127.0.0.1:9090/private/list/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                                boardId: this.$route.params.id
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        console.log(data.data)
                        this.$store.state.Lists = data.data;
                        }); 
    },
    GetUsers() {
              //GEtUsers
           fetch("http://127.0.0.1:9090/private/user/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                              
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        this.$store.commit('LIST_USERS',data.data.docs);
                        console.log(data.data.docs);
                        //console.log("Users:",this.$store.state.users);
                        });
    },
       GetCommentes() {
              fetch("http://127.0.0.1:9090/private/commentaire/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                            cardId: this.CurrentCard._id
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                        this.$store.commit('GET_COMMENTES',data.data);
                        console.log('Commentes',data.data);
                        //console.log("Users:",this.$store.state.users);
                        });
              },
                    CurrentCardMethode() {
                              
                      //fetch just the current card 
                      fetch("http://127.0.0.1:9090/private/card/list", {
                                  method: 'POST',
                                  credentials: 'include',
                                  headers: {
                                    'Content-Type': 'application/json'
                                  },
                                  body: JSON.stringify({
                                    'query': {
                                     _id:this.CurrentCard._id 
                                    },'options':{'page':0,'limit':-1}
                                  })
                                }).then(response => {
                                  return response.json();
                                }).then(data => {
                                  console.log(data.data)
                                  this.$store.commit('GET_CURRENTCARD', data.data[0]);
                                });               
                                    }
      },
      computed: {
        Users() {
            return this.$store.state.users;
          },
          Lists() {
            return this.$store.getters["Lists"];
          },
          Cards() {
            return this.$store.getters["Cards"];
        },
        Commentes() {
            return this.$store.state.Commentes;
        },
        CurrentCard() {
            return this.$store.state.CurrentCard;
          },
        Activity() {
          return this.$store.state["Activity"];
        },
          
          //filter card for get members
           filtredMembersName(){
            return this.Users.filter((user) => user._id == this.$store.state.CurrentEspace.members)
           }
       },mounted(){

        this.GetCArdList();
        this.GetListList();
        //this.GetActivity();
        this.GetUsers();
        this.GetCommentes();

           


       }
    }

</script>

<style scoped>
ul ,li{
  list-style:none;
}
</style>
