<template>
    <div >
        <div class=" flex items-center">
        <div v-for="list in Lists" :key="list._id"
         class="list-container " style="width: 18rem;" >
         <div class="card card-body "
          @drop="onDrop($event, list)" @dragenter.prevent @dragover.prevent >

            <div class=" mx-2 bg-slate-50 rounded text-center" >
                <h5 v-if="listEditing" @dblclick="ShowEditList(list)" class=" p-2 m-2">{{list.title}}</h5>
                <div class="" v-else >
                    <input @blur="EditList(list)" @keyup.esc="cancelListEdite(list)" @keyup.enter="EditList(list)" class="p-2 m-2 rounded bg-slate-200" type="text" v-model="list.title">
                    <button @click="deleteList(list._id)" class="py-2 px-1 m-2 bg-red-400 rounded">Delete</button>
                </div>
                <div  >
                    <div >
                        <!-- <div v-bind:card="card" v-bind:list="list" draggable="true"  class=" flex items-center mx-2 my-3 p-2 rounded-md  bg-slate-200">
                            <div class=" p-1 ring-1 rounded-full">
                                <h4 v-show="card.etiquetteColor ==  'Done'"   class="  p-1  bg-green-400"></h4>
                                <h4 v-show="card.etiquetteColor ==  'Must_Be_Done'"  class="  p-1   bg-red-400"></h4>
                                <h4 v-show="card.etiquetteColor ==  'In_traitment'"  class=" p-1  bg-yellow-400"></h4>
                                <h4 v-show="card.etiquetteColor ==  'Tache_libre'"  class=" p-1  bg-blue-400"></h4>
                            </div>
                            <h4 class=" m-1 p-1 ">{{ card.title }}</h4>
                        </div> -->
                            <Card   v-bind:list="list" draggable="true"/>
                    </div>
                    <div>

                    </div>
                    
                    
                </div>
            </div>
         </div>
         </div>
         <button   v-if="!addNewListInit" @click="handleAddNewList" class=" p-2 ml-2 mr-10 min-w-max w-44 bg-slate-400 opacity-30 rounded cursor-pointer">+ Ajouter une Liste</button>
         <div  v-else class="" >
             <input v-model="listTitle" class="p-2 m-2"  type="text">
             <div class=" flex items-center">
                <button @click="AddNewList" class=" m-2 p-2  rounded bg-blue-300 ">Ajouter une Liste</button>
                <svg @click="hideBtnNewListe" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg mx-2 pe-auto" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/></svg>
             </div>
        </div>
    </div>
    </div>
</template>

<script>
import swal from 'sweetalert';
import Card from "@/components/Card.vue"
export default {
    props: {
        list: {
            type: Object,
            required: true,
        },
        },
        components:{
            Card
        },
        data() {
            return {
                addNewListInit : false,
                beforEditCard: '',
                beforEditList: '',
                listTitle:'',
                cardContenu :'',
                beforEditList: '',
                listId: null,
                listEditing: true,

            }
        },methods:{
            ShowEditList(list){
                list.editing = true
            },
            cancelListEdite(list){
                list.editing = false
            },
            handleAddNewList(){
                this.addNewListInit=true
            },
            hideBtnNewListe(){
                this.addNewListInit=false
            },
             deleteList(key){
                //this.Lists.splice(key, 1)
                 fetch("http://127.0.0.1:9090/private/list/remove", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                           _id:key
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                            if(data.succeeded == true){
                                swal("List Deleted","Succesfully","success")
                            }
                        }); 
                        this.GetListList();

            },
            showAddNewCard(key){
                this.addNewCardInit= true
            },
            hideAddNewCard(key){
                this.addNewCardInit = false
            },
             GetListList(){
                   //Get List from back http://127.0.0.1:9090/private/list/list
                    fetch("http://127.0.0.1:9090/private/list/list", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'query':{
                                boardId: this.$route.params.id
                            },'options':{'page':0,'limit':-1}
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                            if (data.succeeded == true ) {
                                    console.log(data.data)
                                //this.$store.state.Lists = data.data;
                                this.$store.commit('SET_CURENTUSER_LIST', data.data);
                            } else {
                                
                            }

                        }); 
            },
        async  AddNewList(){
            await  fetch("http://127.0.0.1:9090/private/list/create", {
                method: 'POST',
                credentials: 'include',
                body: JSON.stringify({
                    boardId:this.$route.params.id,
                    title:this.listTitle,
                    dateCreated: new Date()
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
                }).then(response => {
                return response.json();
                }).then(data => {
                // do something with the data
                if(data.succeeded == true){ 
                    //swal(" List Added","succesfuly","success");
                    this.addNewListInit=false
                    this.GetListList();
                }else if(data.succeeded == false){
                    swal("Error"," List Not Added","error");
                }else{
                        swal("Not Added","false cause Error","error");
                    }
                console.log(data);
                }).catch(error => {
                    //return error;
                    console.log("error : ",error)
                });
                
            },
            EditList(list){ //not done yet must done in back
                this.beforEditList =  this.listTitle;
                //doneEdit
                if(list.title.trim() == '')
                {
                    list.title = this.beforEditList
                }
                list.editing = false
            },GetCArdList(){
               //Get Card from back http://127.0.0.1:9090/private/card/list
                fetch("http://127.0.0.1:9090/private/card/list", {
                  method: 'POST',
                  credentials: 'include',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    'query':{},'options':{'page':0,'limit':-1}
                  })
                }).then(response => {
                  return response.json();
                }).then(data => {
                  console.log(data.data)
                  //this.$store.state.Cards = data.data;
                    this.$store.commit('GET_CURENTUSER_CARDS', data.data);
                  });
            },
 
            //Drag and Drop MEthods
            startDrag:function (event , card){
                //console.log(card);
                event.dataTransfer.dropEffect = 'move'
                event.dataTransfer.effectAllowed = 'move'
                event.dataTransfer.setData('cardId', card._id)
            },
            onDrop:function(event, list){
                const cardID = event.dataTransfer.getData('cardId')
                const card = this.Cards.find((card) => card._id == cardID)
                const lastCardLidtID = card.listId;
                 //foreach to show list title 
                var listTitle = '';
                this.Lists.forEach(object => {
                    if (object._id === lastCardLidtID) {
                        console.log('object.title', object.title);
                        
                        listTitle = object.title;
                        console.log('listTitle', listTitle);
                    }
                });
                card.listId = list
                console.log("card: ",card , "list:", list);

                 fetch("http://127.0.0.1:9090/private/card/update", {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                                _id: card._id ,
                                listId: list._id,
                                title:card.title,
                                dateCreated:card.dateCreated,
                                content:card.content,
                                members:card.members,
                                etiquetteColor:card.etiquetteColor,
                                dateDebut:card.dateDebut,
                                dateLimit: card.dateLimit,
                                
                                ActContent: `Drag card from  ${listTitle} to  ${list.title}`,
                                ActDateCreated : new Date(),
                                ActMemberId : this.currentUser._id
                        })
                        }).then(response => {
                        return response.json();
                        }).then(data => {
                            this.GetCArdList();
                            
                        });
                        this.GetListList();
            }
        },
  computed: {
    Lists() {
      return this.$store.state.Lists;
    },
    Cards() {
      return this.$store.state.Cards;
      },
      currentUser() {
          return this.$store.state.currentUser;
      }
    ,
    //  filtredList(){
    //             return this.Lists.filter((list) => list.boardId == this.$route.params.id);
    //         },
  },
  mounted(){
      //get list of lists
      this.GetListList();
      this.GetCArdList();

  },
  
    }
</script>

<style src="@/assets/Style.css">

</style>