<template>
 <nav class=" flex bg-gradient-to-r from-stone-500 to-blue-500 bg-opacity-30 text-white justify-between  items-center">
    
     <ul class=" text-white flex justify-start items-center">
      
        <svg class="h-6 w-8 mx-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 10h16M4 14h16M4 18h16"></path></svg>
        <router-link to="/">
                  <img class=" h-[40px] cursor-pointer   hover:bg-slate-200 rounded" src="@/assets/logos/trello-ar21.svg" alt="">
        </router-link>
        <div class="mx-2"></div>
          <!-- <router-link to="/home" class=" m-1 text-white text-lg p-2  hover:bg-slate-200 rounded" aria-current="page" >Home</router-link> -->
          <!-- <router-link to="" @click="espaceToggle = !espaceToggle" class=" m-1 text-white text-lg p-2  hover:bg-slate-200 rounded  flex items-center" aria-current="page" ><span>Espace de travail</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
          </router-link> -->
          <div class="relative inline-block text-left">
  <div>
    <button @click="espaceToggle = !espaceToggle" type="button" class="inline-flex w-full justify-center rounded-md   hover:border-gray-300 focus:bg-slate-300 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-gray-50 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100" id="menu-button" aria-expanded="true" aria-haspopup="true">
      Espace de travail
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div v-if="espaceToggle" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <div v-show="this.$store.state.CurrentEspace =! null" class="">
          <h4 class= "text-slate-500 text-center">Espace de travail actuel</h4>
         <div>
          <div class=" p-3 m-2 ring-1 bg-blue-500 ring-gray-500 rounded-md">
                  <h4 class=" font-semibold text-white text-base">E</h4>
            </div>
          <h4>{{ this.$store.state.CurrentEspace.title }}</h4>
         </div>
      </div>
    </div>
    <div v-show="this.$store.state.currentUser =! null" class=" text-black">
          <h4 class= "text-slate-500 text-center">Espaces de travail </h4>
          <div class=" flex items-center" v-for="espaceDeTravail in this.$store.state.EspaceDesTravaux" :key="espaceDeTravail" >
            <div class=" p-3 m-2 ring-1 bg-blue-500 ring-gray-500 rounded-md">
                  <h4 class=" font-semibold text-white text-base">E</h4>
            </div>
            <h4 class=" p-1 mx-4">{{ espaceDeTravail.title }}</h4>
          </div>
      </div>
  </div>
</div>
          
          <router-link to=""  class=" m-1 text-white text-base p-2  hover:bg-slate-200 rounded  flex items-center" aria-current="page" ><span>Recent</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
          </router-link>
           
          <router-link to="/" class=" m-1 text-white text-base p-2  hover:bg-slate-200 rounded  flex items-center" aria-current="page" ><span>Favoris</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
          </router-link>
          <router-link to="/" class=" m-1 text-white text-base p-2  hover:bg-slate-200 rounded  flex items-center" aria-current="page" ><span>Models</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
          </router-link>
          
          <button class="p-1 m-1 bg-slate-100 bg-opacity-25 rounded hover:bg-slate-200">Créer</button>
          
          <!-- <input class=" "  type="search" placeholder="Search" aria-label="Search"> -->
      <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
     </ul>
    
            <div class=" flex items-center ">
              <div class="w-[calc(100%-200px)] flex justify-center ">
              <form class="flex items-center w-[350px]">
                <label for="voice-search" class="sr-only">Search</label>
                <div class="relative w-full">
                  <div  class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                  </div>
                  <input  type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search..." required>
                  <router-link  to="/" class="flex absolute inset-y-0 right-0 items-center pr-3">
                    <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z" clip-rule="evenodd"></path>
                    </svg>
                  </router-link>
                </div>
              </form>
            </div>
              <div class=" ml-4 flex items-center justify-start space-x-4" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" /></svg>
                <img v-if="this.$store.state.currentUser " class="w-6 h-6 rounded-full border-2 border-gray-50" src="@/assets/avatar.png" alt="" @click="toggleDrop">
                <div class="font-semibold dark:text-white text-left">
                  <div class=" text-gray-400 ">
                    <div  class=" " v-if="this.$store.state.currentUser === null">
                      <router-link  to="/login"><button  class=" text-white p-1 bg-green-400 hover:scale-110 rounded ">Login</button></router-link>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            

</nav>
<!-- <div v-if="espaceToggle" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                <div class=" relative w-auto h-auto max-w-2xl md:h-auto">
                  <h4 class=" text-sm text-slate-500">Espace de travail actuel</h4>
                  <div class="">
                      <div></div>
                      <h4>{{ this.$store.state.CurrentEspace.title }}</h4>
                  </div>
                  <br>
                   <div v-for="espaceDeTravail in this.$store.state.EspaceDesTravaux" :key="espaceDeTravail" class="">
                          <div class="">
                            <h4 class="">{{ espaceDeTravail.title }}</h4>
                          </div>
                   </div>
                </div>
            </div> -->
<div v-show="showDropDown" class="absolute right-[10px] z-10 mt- w-56 origin-top-right rounded-md bg-slate-50 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1 text-left" role="none">
                  <router-link to="/userprofile" class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-200" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</router-link>
                  <router-link to="/register"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-200" role="menuitem" tabindex="-1" id="menu-item-1">Add new user</router-link>
                  <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-200" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
                  <a @click="HandleLogout" class="text-gray-700 block px-4 py-2 text-sm cursor-pointer hover:bg-slate-200" role="menuitem" tabindex="-1" id="menu-item-3">LOGOUT</a>
                </div>
              </div>
</template>

<script>
export default {
    data() {
        return {
            showDropDown: false,
            espaceToggle:false,
        }
    },
    methods:{
      toggleDrop() {
        this.showDropDown = !this.showDropDown
      },
      HandleLogout(){
         fetch("http://127.0.0.1:9090/logout", {
          method: 'POST',
          credentials: 'include',
          body:JSON.stringify({}),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(response => {
          return response.json();
        }).then(data => {
          // do something with the data
          console.log("response from logout : ", data)
          //this.$store.state.isConnected = false;
          
          this.$store.state.currentUser = null;
          this.$store.state.Lists = null;
          console.log(this.$store.state.currentUser)
         // console.log("currentuser afgterlogout ",this.$store.state.currentUser)
          //this.$store.state.users = null;
          document.location.reload(true);
          
           });
    },
  },
    mounted(){

    }
}
</script>

<style src="@/assets/Style.css" >

</style>