<template>
    <form @submit.prevent="SendFile" enctype="multipart/form-data">
        <div class=" p-2">
                <label class=" p-2 m-2" for="file">UPLOAD FILE</label>
                <input
                 class=" p-2 m-2 "
                 ref="file"
                 type="file" 
                 @change="SelectFile"
                >
                <button class=" p-1 m-2 bg-blue-400 rounded hover:bg-blue-200" type="submit">Send</button>
        </div>
    </form>
</template>

<script>
import swal from 'sweetalert';
export default {
      props: {
         handleShowCardInfos: Function,
         CurrentCardMethode: Function,
         GetActivity : Function
      },
    data() {
     return {
        file:"",
     }
    },methods: {
        SelectFile() {
            this.file = this.$refs.file.files[0];
            
        },
        SendFile(){
             if(this.file != ""){
                const formData = new FormData();
                formData.append('file',this.file)

                formData.append("_id", this.$store.state.CurrentCard._id);

               formData.append("memberId", this.$store.state.currentUser._id);
               //Activity
               //formData.append("ActContent", `Upload file`);
               formData.append("ActDateCreated", new Date());
                //formData.append("ActMemberId", this.$store.state.currentUser._id);
               //add historique  upload to activity 
              //  ActContent: ` Changed Etiquete color To ${this.etiquetteColor}`,
              //        ActDateCreated : new Date(),
              //        ActMemberId : this.$store.state.currentUser._id

                console.log("file", this.file); 
                console.log("formData", formData)
                fetch("http://127.0.0.1:9090/private/upload", {
                  method: 'POST',
                  credentials: 'include',
                
                  body:formData, 
                }).then(response => {
                    return response.json();
                }).then(data => {
                    console.log('data response',data);
                  if (data.succeeded == true) {
                    // GetActivity();
                    // CurrentCardMethode();
                    // handleShowCardInfos(this.CurrentCard);
                    swal('Uploaded',"file Uploaded Succesfully ","success")
                   }else{
                    console.log("File not Uploaded");
                   }
                  }).catch(err => {
                    console.error("Error:", err);
                  });
              //  handleShowCardInfos(CurrentCard);
              //  GetActivity();
              //  CurrentCardMethode();
             }else{
                swal('Ouups',"There is no file To upload ",'Error')
             }
            
        }
  }, computed: {
          Users() {
                  return this.$store.state.users;
          },
          Lists() {
            return this.$store.getters["Lists"];
          },
          Cards() {
            return this.$store.getters["Cards"];
          },CurrentCard() {
              return this.$store.state.CurrentCard;
            },
          Activity() {
            return this.$store.state["Activity"];
          },
  }
}
</script>

<style >

</style>