<template >
  <div class=" h-screen bg-[url('https://images.pexels.com/photos/3417015/pexels-photo-3417015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')]">
    <NavBar />
    <v-content></v-content>
    <router-view></router-view>
  </div>
</template>
<script>
import NavBar from '@/components/NavBar.vue'
import store from './store'
export default{
  components:{
    NavBar
  },
  data() {
    return {
      
    }
  },methods:{
    //  async GetSessionUser(){
    //      //Check user Session GETSESSION
    //      console.log("get session: ", )
    //      await fetch("http://127.0.0.1:9090/getSessionUser",{
    //        method: 'POST',
    //       credentials: 'include',
    //       headers: {
    //         'Content-Type': 'application/json'
    //       },
    //       body: JSON.stringify({ })
    //      }).then(response => {
    //       return response.json();
    //      }).then(data => {
    //        if(data.succeeded == true){
    //         store.state.currentUser = data.data
    //         console.log("CurentUser from-App-mounted:" ,data.data._id)
    //        }else if(data.succeeded == false){
    //         store.state.currentUser = null
    //         this.$router.push('/login')
    //         swal("Oups","You must be logged in ");
    //        }
    //       }).catch(error => {
    //         this.$router.push('/login')
    //         swal("error","You must be loggedin Error : "+error);
    //       });
    //  }
  },
  mounted(){
          // this.GetSessionUser();
  }

}
</script>
<style src="@/assets/Style.css">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
